body{
   margin: 0px;
}
.header{
    background-color: #272A31;
    height: 98px;
}
.image{
    width: 100%;
}

.para_contain{
    position: absolute;
    top: 328px;
    text-align: center;
    left: 28%;
    color: #fff;
    font-size: 22px;
    font-style: normal;
}


.background{
    background-color: #EFEFEF;

}
.main-container{
    position: relative;
}
.txt{
    text-align: center;
    width: 90%;
    margin: 0 auto 35px auto;
    font-size: 14px;
}
.txt_h2{
    word-spacing: 2px;
}
.txt_p{
    
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 10px;

}
.large_div{
    background-color: #EFEFEF;
    padding-top: 50px;
}
.row_blocks{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
     
}

.block_container{
     
    padding: 30px;
    background-color: #FFFFFF;
    margin-left: 50px;
    width: 25%;
     
}
.strategy_imag{
    margin-left: 85px;
    margin-top: -7px;
}
.txt_p1{
    font-size: 17px;
    font-style: normal;
    font-family: inherit;
}
.p{
    font-size: 17px;
    font-style: normal; 
    font-family: inherit; 
}
.block_container1{
    margin-left: 30px;
    background-color: #FFFFFF;
    width: 27%;
}
.infre_img{
    margin-left: 40px;
    margin-top: 35px;
}
.txt_p2{
    font-size: 17px;
    font-style: normal;
    font-family: inherit;  
    margin-left: 14px;
} 
.block_container2{
    margin-left: 30px;
    background-color: #FFFFFF;
    width: 30%;

}
.ui_img{
    margin-left: 151px;
    margin-top: 26px;
}
.ui_text{
    margin-left: 24px;
    font-size: 17px;
    font-style: normal;
    font-family: inherit;
}
.txt_what{
    text-align: center;
    padding-top: 40px;
    margin-right: 32px;
}
.text_x1{
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.row_mid_container{
    display: flex;
}
.block_mid_container{
    background-color:  #FFFFFF;
    width: 32%;
    margin-left: 27px;
}
.alphas_imag{
    margin-left: 150px;
    margin-top: 20px;
}
.justify_left_txt{
    margin-left: 25px;
    font-size: 17px;
    font-style: normal;
    font-family: inherit;
}
.block_mid_container1{
    margin-left: 30px;
    background-color:  #FFFFFF;
    width: 30%;
}
.service_imag{
    margin-left: 150px;
    margin-top: 25px;
}
.justify_centre_txt{
    margin-left: 21px;
    font-family: inherit;
    font-size: 17px;
}
.block_mid_container2{
    margin-left: 30px;
    background-color:  #FFFFFF;
    width: 30%;
}
.technology_img{
    margin-left: 150px;
    margin-top: 20px;
}
.justify_last_txt{
    margin-left: 25px;
    font-family: inherit;
    font-size: 17px;
}
.ol_model{
    font-size: 17px;
    font-family: inherit;
    font-style: normal;
}
.footer_contain{ 
    padding: 35px 0;
}
.container_footer{
    padding: 39px 0px;
    background-color: #FFFFFF;
    height: 300px;
}
.txt_core{
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-family: inherit;
}
.image_container{
    display: flex;
    margin: 10px;
    margin-top: 30px;
}
.agile_image{
    width:23%;
    margin: 15px;
}
.footer_container{
    background-color: #2E2F30;
    margin-top: -63px;
}
.all_logo_contain{
    display: flex;
}
.logo_contain{
    width:20%;
}
.logo_png{
    width: 80%;
  margin-left: 40px;
  margin-top: 35px;
}
.footer_menu{
    width:30%;
}
.h4{
    color: #fafafa;
    line-height: 22px;
    font-size: 16px;
    margin-left: 70px;
    margin-top: 58px;
}
.ul_contain{
    list-style-type: none;
    margin-left: 30px;
}
.home{
    color: #fafafa; 
    margin-left: 3px;
    font-size: 17px;
    margin-bottom: 1px;
}
.home1{
    color: #fafafa; 
    font-size: 17px;
    margin-bottom: 1px;
}
.contract{
    color: #FAFAED;
    width: 25%;
    

}
.h41{
    margin-top: 67px;
    font-size: 16px;
    font-style: normal;
}
.e5487{
    margin-bottom: 7px;
    font-size: 17px;
    font-style: normal;
}
.india{
    margin-top: 21px;
}
.c313{
    font-style: normal;
    font-size: 17px;
}
.general_contain{
    width: 24%;
}
.general{
    margin-top: 65px;
    color: #FAFAED;
}
.director{
    color: #FAFAED;;
}
.solution{
    margin-left: 7px;
    margin-bottom: 10px;
    margin-top: -20px;
    padding: 10px;
    color: #FAFAED;
}
.reserve_container{
    height: 80px;
}




 
 
 





