body{
    margin: 0px;
    background-color: #E9EBEE;
}
.head_container{
    background-color: #3C5A99;
}
.facebook_image_contain{
    margin: 0px auto;
    padding-top: 13px;
    width: 950px;
}
.image{
    width:20%;
}
.right_contain{
    position: relative;
    float: right;
    font-size: 14px;
    font-family: sans-serif;
    color: aliceblue;
    top: 15px;
    cursor: pointer;
}
.sign_up_button{
    position: relative;
    width: 63%;
    float: right;
    margin-top: 24px;
}
.button{
    width: 11%;
    padding: 7px;
    background-color: #42B72A;
    border: none;
    border-radius: 1px;
    font-family: sans-serif;
    color: aliceblue;
    font-weight: 700;
}
.middle_second_container{
    width: 68%;
    margin: 0px auto;
    padding-top: 10px;
    position: relative;
}
.create_page{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    color: #1C1E21;
}
.community{
    font-family: sans-serif;
    font-size: 15px;
    color: #1C1E21;
}
.padding_contain{
    width: 90%;
    display: flex;
    margin: 0px auto;
    padding: 32px 10px 57px 10px
}
.showase{
    background-color: #FFFFFF;
    width: 45%;
    margin-left: 76px;;
}
.public_figure{
    width: 45%;
    background-color: #FFFFFF;
    margin-left: 17px;
}





 
