body{ 
    margin: 0px;
}
.header_contain{
    display: flex;
    background-color: #3E5B99;
}
.facebook_contain{
    width:50%;
}
.images{
    height: 65px;
    margin-left: 35%;
}
.number_contain{
    display: flex;
    font-size: 14px;
    color: aliceblue;
    margin-left: 57px;
    margin-top: 10px;
}
.email_contain{
    display: grid;
    margin-left: 10px;
}
.button{
    height: 23px;
    margin-top: 17px;
    background-color: #4267B2;
    color: aliceblue;
    border: 0px;
    cursor: pointer;
}
.forget{
    cursor: pointer;
}
.middle_container{
    padding: 80px 0px;
    font-family: inherit;
    background-color: #e9ebee;
    cursor: default;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
}
.find_container{
    
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 12px;
    color: #1c1e21;
    direction: ltr;
    padding: 19px 0px;
     
}
.container{
    width: 555px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.container_1{
    border-color: #ccc;
    border-bottom: 1px solid #aaa;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.span{
    line-height: 20px;
    min-height: 20px;
    vertical-align: bottom;
    font-size: 17px;
    font-family: sans-serif;
    color: #162643;
}

.para{
    font-family: sans-serif;
    font-size: 13px;
    color: #1C1E21;
}
.pa{
    width: 75%;
    margin: auto;
    margin-top: -10px;
}
.input{
    width: 68%;
    border: 1px solid lightgray;
    border-radius: 3px;
    color: #606770;
    padding: 5px;
}
.input_box{
    width: 74%;
    margin: auto;
    margin-top: 8px;
    padding-bottom: 25px;
}
.bottom{
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 10px 10px;
   
}
.search_box{
    margin-left: 75%;
    display: flex;
}
.button2{
    color: #fff;
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    background-color: #4267B2;
    height: 24px;
    margin-right: 10px;
    width: 95%;
    border-radius: 1px;
    font-style: inherit;
}
.button3{
    margin-left: 6px;
    height: 24px;
    border: 1px solid lightgrey;
    background: none;
    text-align: center;
    border-radius: 2px;
    width: 95%;
    font-style: inherit;
    cursor: pointer;
}
.footer_contain{
    background-color: #FFFFFF;
    height: 300px;
}
.footer1{
    padding: 200px 200px 20px 200px;
     
}
.ul_contain{
    display: flex;
}
.english{
    margin-right: 12px;
    font-size: 14px;
    color: #A0738A;
}
.english1{
    margin-left: 12px;
    font-size: 13px;
    color: #387DC3;
}
.plus{
    margin-left: 12px;
}
.border{
    border-bottom: 1px solid #dddfe2;
}
.contentCurve{
    border-bottom: 1px solid #dddfe2;
    font-size: 2px;
    height: 1px;
    margin-bottom: 8px;
    width: 72%;
    margin: auto;
}
.last_contain{
    width: 100%;
    margin: auto;
    color: #385898;
    font-size: 13px;
    list-style-type: none;
    cursor: pointer;
}
.sign_up{
    margin-left: 15px;


}
.span1{
   width: 88%;
    margin: auto;
     
}
.facebook5{
    font-size: 12px;
    color: #737373;
    font-style: inherit;
}

  


