body{
    margin: 0px;
    background-color: #E9EBEE;
}
.header_contain{
    background-color: #3C5A99;
     
}
.images{
    width: 20%;
}
.facebook_contain{
    width: 75%;
    margin: auto;
    cursor: pointer;
    display: flex;

}
.new_account{
    padding-top: 29px;

}
.input{
    width: 66%;
    padding: 8px;
    background-color: #42B72A;
    border: none;
    color: #E1FFFF;
    font-family: sans-serif;
    border-radius: 3px;
    cursor: pointer;
}
.middle_contain{
    background-color: #FFFFFF;
    width: 45%;
    margin: auto;
    margin-top: 70px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    font-family: inherit;
}
.contain{
    padding: 20px 20px;
    width: 35%;
    margin: auto;
    margin-top: 23px;
}
.p1{
    font-size: 20px;
    font-family: sans-serif;
}
.input_contain{
    display: grid;
    width: 57%;
    margin: auto;
}
.text{
    margin: 6px;
    padding: 8px;
    border: 1px solid #dddfe2;
    border-radius: 0;
    background-color: #E8F0FE;
}
.log_in{
    margin: 6px;
    padding: 13px;
    border: none;
    background-color: #4267B2;
    border-radius: 1px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    color: aliceblue;
    cursor: pointer;
}
.log_in2{
    width: 38%;
    margin: auto;
    margin-top: 12px;
}
.facebook{
    font-style: inherit;
    border: none;
    color: #3858A5;
    cursor: pointer;
}
.line_link{
   width:100%;
   display: inline-block;
   position: relative;
   padding-bottom: 20px;
}
.or-divider-line{
    border-bottom: 1px solid #717171;
    position: relative;
    top:-10
}
.line-left{
    width: 45%;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid lightgray;
}
.or-text{
    position: relative;
    display: inline-block;
}
.line-right{
    width: 45%;
    border-bottom: 1px solid lightgrey;
    display: inline-block;
    position: relative;
}
.button{
    padding: 13px;
    width: 55%;
    border: none;
    border-radius: 1px;
    background-color: #42B72A;
    color: #F3FFFF;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.button_contain{
    padding-bottom: 40px;
    text-align: center;
}
.footer_contain{
    background-color: #FFFFFF;
    padding: 101px 0px 40px 0px;
    margin-top: 60px;


}
.footer1{
    width: 74%;
    margin: auto;
    display: flex;
    border-bottom: 1px solid lightgray;
}


.ul_contain{
    display: flex;
}
.english{
    margin-right: 12px;
    font-size: 14px;
    color: #A0738A;
}
.english1{
    margin-left: 12px;
    font-size: 13px;
    color: #387DC3;
}
.plus{
    margin-left: 12px;
}
.border{
    border-bottom: 1px solid #dddfe2;
}
.contentCurve{
    border-bottom: 1px solid #dddfe2;
    font-size: 2px;
    height: 1px;
    margin-bottom: 8px;
    width: 72%;
    margin: auto;
}
.last_contain{
    width: 79%;
    margin: auto;
    color: #385898;
    font-size: 13px;
    list-style-type: none;
    cursor: pointer;
}
.sign_up{
    margin-left: 15px;


}
.span1{
   width: 71%;
    margin: auto;
     
}
.facebook5{
    font-size: 12px;
    color: #737373;
    font-style: inherit;
}

  


