.facebook_contain{
    background-color: #3E5B99;
    display: flex;
    height: 80px;
    cursor: pointer;
}
body{
    background-color: #FBFBFD;
    margin: 0px;
    font-family: sans-serif;
}
.facebook{
    width: 40%;
    margin-left: 15%;
    color: #FFFFFF;
    font-size: 42px;

    margin-top: 20px;
}
.email_contain{
    display: flex;
    margin-top: 10px;
}
.text_contain{
    display: grid;
  
}


.number_contain{
  display: grid;
   
   
}
.email{
    
    font-size: 12px;
    color: aliceblue;
      
}

.password{
     
    font-size: 12px;
    color: aliceblue;
     
}
.text{
    width: 90%;

   
}
.number{
    width: 90%;
    background-color: #E8F0FE;
}
.number_container{
    margin-top: 22px;
   
     
}
.number_contain{
    margin-left: 10px;
}
.submit{
    height: 25px;
    background-color: #4267B2;
    color: #F3FFFF;
    margin-left: 13px;
    font-family: sans-serif;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #4267B2;
}

span{
    font-size: 12px;
}
.account{
    font-family: sans-serif;
    font-size: 13px;
    color: white;
} 

.right_container{
    width:50%;
}
.footer_container{
    display: flex;
    background-color:  #DDE1ED
}
.people{
    margin-left: 198px;
    margin-top: 46px;
    color: #0E385F;
    font-size: 20px;
}
.image_contain{
    margin-left: 98px;
    margin-top: 0px;
}
.paraa1{
    margin-left: 75px;
    margin-top: 30px;
}
.h1{
    font-size: 35px;
    font-family: inherit;
    font-weight: 600;
    color: #333333;
}
.p{
    margin-left: 7px;
    font-size: 20px;
    margin-top: 10px;
    font-weight: normal;
    color: #1D2136;
}
.name_container{
    margin-left: 80px;
}
.first_naame{
    display: flex;

}
.first{
    padding: 10px;
    font-size: 20px;
    width: 40%;
    font-style: unset;
    color: #C4D5C7;
    border-radius: 6px;
    border: 1px solid lightgray;
}
.surname{
    padding: 5px;
    font-size: 20px;
    width: 37%;
    font-style: unset;
    color: #C4D5C7;
    border-radius: 6px;
    border: 1px solid lightgray;
    margin-left: 7px;
}
.mobile{
    display: grid;
}
.mobile_contain{
    padding: 10px;
    margin: 12px;
    margin-left: 1px;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 19px;
    color: #C4D5C7;
}
.password_contain{
    padding: 10px;
    margin-left: 3px;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 6px;
    font-size: 19px;
    color: #C4D5C7;
}
.birthady{
    padding: 10px;
    margin-top: 20px;
}
.birthday1{
    font-size: 20px;
    font-style: normal;
    color: #909FB3;
    font-weight: 700;
}
.birthday_year{
    margin-left: 10px;
    display: flex;
}
.date{
    width: 11%;
    padding: 5px;
}
.month{
    width: 11%;
    padding: 5px;
}
.year{
    width: 11%;
    padding: 5px;
}
.topic1{
    height: 13px;
    margin-left: 12px;
    border-radius: 54px;
    padding: 3px;
    background-color: #77779E;
}
.topic{
    margin: 0px;
    color: white;
    margin-top: -1px;
    cursor: pointer;
}
.gender{
    font-size: 20px;
    font-family: inherit;
    font-weight: 700;
    color: #77779E;;
}
.gender_option{
    margin-left: 4px;
    padding: 9px;
    margin-top: 4px;
}
.female_option{
    display: flex;
    margin-top: 14px;
}
.male_contain{
    margin-left: 15px;
}
.custom_contain{
    margin-left: 15px;
}
.topic2{
    height: 13px;
    margin-left: 20px;
    border-radius: 54px;
    padding: 3px;
    background-color: #77779E;
    cursor: pointer;
}
.topic3{
    margin-bottom: 1px;
    color: aliceblue;
    cursor: pointer;
    
}
.paragraph{
    margin-left: 10px;
}
.bottom_para{
    font-size: 12px;
    font-style: normal;
    color: #77779E;
    
}
.submit_button{
    width: 40%;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    background-color: #5F9A4C;
    font-size: 23px;
    font-family: initial;
    color: #fff;
     display: inline-block;
}
.button_type{
    margin-left: 10px;
}
.celebrity{
    margin-top: 33px;
    margin-left: 14px; 
    
}
.page_last{
    font-size: 13px;
    color: #77779E;;
}
.term{
    color: #3877BC;
}
 .privacy{
    color: #3877BC;
}
.cookies{
    color: #3877BC;
}
.create_a_page{
    color: #3877BC;
}

.ul_contain{
    display: flex;
}
.footer11{
    width: 75%;
    margin: auto;
    margin-top: 50px;
}
.english{
    margin-left: 2px;
    font-family: inherit;
    margin-left: 2px;
    color: #737373;
    font-size: 12px;
    cursor: pointer;
}
.ab{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #385898;
    cursor: pointer;
}
.cd{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #385898;
    cursor: pointer;
}
.marathi{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #385898;
    cursor: pointer;
}
.hindi{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #385898;
    cursor: pointer;
}
.gujrati{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #385898;
    cursor: pointer;
}
.gujrati1{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #385898;
    cursor: pointer;
}
.gh{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #385898;
    cursor: pointer;
}
.ij{
    margin-left: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #385898;
    cursor: pointer;
}
.ef{
    margin-left: 10px;
    font-size: 12px;
    color: #385898;
    cursor: pointer;
}
.plus{
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    color: #4b4f56;
    height: 18px;
    line-height: 18px;
    font-size: 17px;
    margin-left: 10px;
    cursor: pointer;
}

.contentCurve{
    border-bottom: 1px solid #dddfe2;
    font-size: 2px;
    height: 1px;
    margin-bottom: 8px;
    width: 72%;
    margin: auto;
}
.last_contain{
    width: 80%;
    margin: auto;
    color: #385898;
    font-size: 12px;
    list-style-type: none;
    cursor: pointer;
}
.sign_up{
    margin-left: 15px;


}
.span{
   width: 72%;
    margin: auto;
     
}
.facebook5{
    font-size: 11px;
    color: #737373;
    font-style: inherit;
}

  

    
 


 


 


 



